<div class="content">
    <div class="content-box">
        <div class="row">
            <div class="section-heading">
                <h2 class="fa-heading">Login to Continue...
                </h2>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="button">Login</button>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-12">
                <h4>Don't have an account yet?
                    <a routerLink="/new-user" style="text-decoration: underline; color: blue; cursor: pointer;">Sign Up
                        here.</a>
                </h4>
            </div>
        </div>
    </div>
</div>