<nav class="nav-container">
    <div class="nav-content">
        <div class="nav-items">
            <button *ngFor="let item of navigationItems" #navItem class="nav-button" (mouseenter)="onNavHover(navItem)"
                (mouseleave)="onNavLeave(navItem)" (click)="onNavClick(item.route)">
                {{ item.label }}
            </button>
        </div>
        <button class="wallet-button">
            Leaderboard
        </button>
    </div>
</nav>

<canvas #gameCanvas width="700" height="490" style="margin-top: 6%; background-color: rgb(241, 235, 240);"></canvas>

<div class="modal" *ngIf="isModalVisible">
    <div class="modal-content">
        <h2>{{ alertMessage }}</h2>
        <div class="button-container">
            <button class="close-button" (click)="playAgain()">Play Again</button>
            <button class="close-button" (click)="closeModal()">Back to Home</button>
        </div>
    </div>
</div>

<div class="modal" *ngIf="initialModalVisible">
    <div class="modal-content">
        <h1 style="color: rgb(102, 4, 86);"> Welcome! </h1>
        <h2>Are you ready?
        </h2>
        <div class="button-container">
            <button class="close-button" (click)="startGame()">Yes! Start</button>
            <button class="close-button" (click)="closeModal()">No, Back to Home</button>
        </div>
    </div>
</div>